/* Top page */
head{
  font-family: neuzeit-grotesk, sans-serif!important;
  font-weight: lighter;
}

#logo{
  width: 200px;
  margin-left: 40px;
  margin-top: 10px;
}
/* nav bar */
nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  margin-top: -55px;
  float: right;
}

ul li a{
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
  line-height: 1.5;
  font-size: 20px;
}

ul li a:hover{
  color: #cc90f3;
  text-decoration: none;
}

/* Body structure & Design */
body{
  background-color: #000000;
  opacity: 1;
  background-image: radial-gradient(#2E040D 2px, #000000 2px);
  background-size: 40px 40px;
  background-color: #000000 !important;
  font-family: neuzeit-grotesk, sans-serif!important;
  font-weight: 400!important;
  font-style: normal;
  color: white!important;
}

/* Banner */
h1{
  margin-top: 160px !important;
  text-align: center;
  font-size: 105px !important;
  background: rgba(0, 0, 0, 0) -webkit-gradient-(linear,left top,right top,from(#90f3b3),color-stop(#90e9f3),color-stop(#cc90f3),color-stop(#f390d1),color-stop(#f39a90),color-stop(#f3e590),to(#b8f390)) repeat scroll 0% 0%/200% 200%;
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, #90f3b3, #90e9f3, #909ff3, #cc90f3, #f390d1, #f39a90, #f3e590, #b8f390) repeat scroll 0% 0%/200% 200%;
  background-clip: border-box;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.subtitle{
  text-align: center;
  font-family: neuzeit-grotesk, sans-serif;
  font-weight: 400;
  font-size: 21px !important;
  margin-bottom: 100px !important;
  margin-top: -170px;
  color: #FFFFFF;
}

.vertical-line{
  border-left: 1px solid white;
  height: 100px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 100px;
  margin-left: 50%;
}

/* First box - lookalikes */
.img-description{
  height: 750px;
  width: 1400px;
}

.flotte {
float:right;
}

.figure_img{
  height: 750px;
  width: 600px;
}

.text-position{
  margin-bottom: 40px;
}


h2{
  font-size: 56px !important;
  margin-left: 60px;
  margin-bottom: 60px !important;
  padding-top: 200px;
  background: rgba(0, 0, 0, 0) -webkit-gradient-(linear,left top,right top,from(#90f3b3),color-stop(#90e9f3),color-stop(#cc90f3),color-stop(#f390d1),color-stop(#f39a90),color-stop(#f3e590),to(#b8f390)) repeat scroll 0% 0%/200% 200%;
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, #90f3b3, #90e9f3, #909ff3, #cc90f3, #f390d1, #f39a90, #f3e590, #b8f390) repeat scroll 0% 0%/200% 200%;
  background-clip: border-box;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

p{
  font-size: 24px;
  margin-left: 60px;
}

/* Talk button 1 */
.arrow_img{
  margin-left: -504px;
}

.talklink{
  font-size: 13px;
  margin-bottom: 160px;
  text-decoration: none;
}

.horizontal-line1{
  margin-top: -150px;
  margin-left: 4.2%;
  color: white;
}

hr{
  opacity: 1 !important;
}

/* Full screen text */
.text-screen{
  height: 750px;
  width: 660px;
  text-align: center;
  margin: auto;
  margin-bottom: 100px;
}

/* Talk button 2 */
.button-position2{
  margin-top: -410px;
  margin-left: 600px;
}

.arrow_img2{
  margin-left: 774px;
  margin-top: -49px;
}

.horizontal-line{
  margin-top: -150px;
  margin-left: 7%;
  color: white;
}

/* Second box - Our services */
h3{
  font-size: 24px;
  margin-left: 60px;
}

.services{
  margin-bottom: -170px;
  margin-top: 180px;
}

.text-c{
  height: 150px;
  width: 700px;
}

.carousel-p{
height: 600px;
width: 550px;
float: right;
}

/* Talk button 3 */
.button-position3{
  margin-top: -210px;
}

.arrow_img3{
  margin-left: 178px;
  margin-top: -48px;
}

.horizontal-line3{
  margin-top: -150px;
  margin-left: 4.2%;
  color: white;
}

/* Video */
.video-container{
  margin-top: 300px;
  margin-bottom: 50px;
}

/* Quizz */
#quizz{
    position: absolute;
    top: -100px;
    right: 10px;
    left: 10px;
}

.quizz-container{
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(Images/pdf.jpg);
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: 50%;
  margin-left: auto;
  margin-right: auto;
	text-align: center;
  margin-top: 250px;
}

.quizz-b{
  font-size: 13px;
  position: absolute;
  top: 315px;
  right: 20%;
  left: 17%;
  text-align: center;
  margin-left: auto;
}

/* Talk button 4 */
.arrow-position4{
  margin-top: -260px;
  margin-left: 200px;
}

.arrow_img4{
  margin-left: -65px;
  margin-right: auto;
  margin-top: 212px;
}

.horizontal-line4{
  margin-top: -174px;
  margin-left: 42.5%;
  color: white;
}

/* Full screen text 2 */
.text-screen2{
  height: 750px;
  width: 660px;
  text-align: center;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 20px;
}

/* Continue roll */
.roll{
  font-size: 150px;
  font-family: neuzeit-grotesk, sans-serif;
  font-weight: bold;
  color: black;
  background: rgba(0, 0, 0, 0) -webkit-gradient-(linear,left top,right top,from(#90f3b3),color-stop(#90e9f3),color-stop(#cc90f3),color-stop(#f390d1),color-stop(#f39a90),color-stop(#f3e590),to(#b8f390)) repeat scroll 0% 0%/200% 200%;
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, #90f3b3, #90e9f3, #909ff3, #cc90f3, #f390d1, #f39a90, #f3e590, #b8f390) repeat scroll 0% 0%/200% 200%;
    -webkit-text-stroke: 4px transparent;
  margin-top: -300px;
  margin-bottom: 150px;
  text-align: left;
}

/* Typeform */
.typeform-button a{
  display: flex;
  justify-content: center;
  margin-left: 43.5%;
  margin-top: -100px;
  padding: 12px 36px;
  min-width: 95px;
  width: 180px;
  border-radius: 35px;
  font-weight: 700;
  cursor: pointer;
  transition: all .15s ease;
  background: z-index: -1, black;
  font-size: 24px;
  color: #cc90f3;
  text-decoration: none;
}

.typeform-button a:hover {
  background: #cc90f3;
  color: black;
}

/* Social contact */
.social-link a{
  font-family: neuzeit-grotesk, sans-serif;
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
  padding: 20px;
  color: white;
  font-size: 19px;
  float: left;
  margin-bottom: 20px;
  margin-left: 192px;
  margin-top: 100px;
}

.social-link a:hover {
  text-decoration: none;
  color: #cc90f3;
}

/* Animated background */
@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #000000;
    overflow: hidden;
    z-index:-1;
}

.background span {
    width: 50vmin;
    height: 50vmin;
    border-radius: 50vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 38;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.background span:nth-child(0) {
    color: #3e2230;
    top: 84%;
    left: 23%;
    animation-duration: 90s;
    animation-delay: -82s;
    transform-origin: 17vw 18vh;
    box-shadow: -100vmin 0 12.665702308421496vmin currentColor;
}
.background span:nth-child(1) {
    color: #3e2230;
    top: 43%;
    left: 68%;
    animation-duration: 89s;
    animation-delay: -94s;
    transform-origin: 13vw 2vh;
    box-shadow: -100vmin 0 13.191209790671456vmin currentColor;
}
.background span:nth-child(2) {
    color: #28030c;
    top: 32%;
    left: 65%;
    animation-duration: 62s;
    animation-delay: -81s;
    transform-origin: 10vw -12vh;
    box-shadow: 100vmin 0 13.220075285694945vmin currentColor;
}
.background span:nth-child(3) {
    color: #3e2230;
    top: 47%;
    left: 74%;
    animation-duration: 20s;
    animation-delay: -55s;
    transform-origin: 3vw 14vh;
    box-shadow: -100vmin 0 12.677336042670348vmin currentColor;
}
.background span:nth-child(4) {
    color: #28030c;
    top: 85%;
    left: 23%;
    animation-duration: 113s;
    animation-delay: -51s;
    transform-origin: -21vw 1vh;
    box-shadow: 100vmin 0 12.707600435144501vmin currentColor;
}
.background span:nth-child(5) {
    color: #3e2230;
    top: 31%;
    left: 93%;
    animation-duration: 25s;
    animation-delay: -100s;
    transform-origin: -5vw 12vh;
    box-shadow: -100vmin 0 12.65364621042061vmin currentColor;
}
.background span:nth-child(6) {
    color: #3e2230;
    top: 47%;
    left: 94%;
    animation-duration: 6s;
    animation-delay: -38s;
    transform-origin: -19vw 23vh;
    box-shadow: 100vmin 0 13.143365116635236vmin currentColor;
}
.background span:nth-child(7) {
    color: #28030c;
    top: 22%;
    left: 16%;
    animation-duration: 61s;
    animation-delay: -67s;
    transform-origin: -21vw 4vh;
    box-shadow: 100vmin 0 12.95101470648261vmin currentColor;
}
.background span:nth-child(8) {
    color: #3e2230;
    top: 64%;
    left: 72%;
    animation-duration: 49s;
    animation-delay: -9s;
    transform-origin: 1vw 8vh;
    box-shadow: 100vmin 0 12.90892905389067vmin currentColor;
}
.background span:nth-child(9) {
    color: #3e2230;
    top: 14%;
    left: 72%;
    animation-duration: 75s;
    animation-delay: -61s;
    transform-origin: 21vw 19vh;
    box-shadow: 100vmin 0 12.865762735062479vmin currentColor;
}
.background span:nth-child(10) {
    color: #28030c;
    top: 52%;
    left: 42%;
    animation-duration: 110s;
    animation-delay: -6s;
    transform-origin: -8vw -6vh;
    box-shadow: 100vmin 0 13.391657984875858vmin currentColor;
}
.background span:nth-child(11) {
    color: #011630;
    top: 72%;
    left: 66%;
    animation-duration: 55s;
    animation-delay: -8s;
    transform-origin: -14vw -21vh;
    box-shadow: -100vmin 0 12.924631516213955vmin currentColor;
}
.background span:nth-child(12) {
    color: #011630;
    top: 67%;
    left: 74%;
    animation-duration: 91s;
    animation-delay: -88s;
    transform-origin: 23vw -8vh;
    box-shadow: -100vmin 0 12.759579517010222vmin currentColor;
}
.background span:nth-child(13) {
    color: #28030c;
    top: 84%;
    left: 59%;
    animation-duration: 109s;
    animation-delay: -9s;
    transform-origin: -19vw -11vh;
    box-shadow: -100vmin 0 13.182540137039991vmin currentColor;
}
.background span:nth-child(14) {
    color: #3e2230;
    top: 26%;
    left: 23%;
    animation-duration: 47s;
    animation-delay: -67s;
    transform-origin: 21vw -17vh;
    box-shadow: 100vmin 0 12.52255993514767vmin currentColor;
}
.background span:nth-child(15) {
    color: #28030c;
    top: 65%;
    left: 17%;
    animation-duration: 71s;
    animation-delay: -9s;
    transform-origin: -16vw -13vh;
    box-shadow: -100vmin 0 12.744267087069234vmin currentColor;
}
